# Настройки для отображения в traefik и homepage
SUB_DOMAIN="rutracker"
DOMAINNAME_1="gm2d.ru"
DOMAINNAME_2="lan"
# Настройки postgress
POSTGRES_USER="<username>"
POSTGRES_PASSWORD="<password>"
DB_NAME="yorutracker"
# Настройки meilisearch
MEILI_MASTER_KEY="<very hard master key>"
# Настройки meilibridge
MEILIBRIDGE_CONFIG="./meilibridge/config.yaml"
# Настройки qbittorrent
QBITTORRENT_HOST="http://10.0.0.15:8080"
QBITTORRENT_USER="admin"
QBITTORRENT_PASS="<very hard password>"
# Настройки сервиса
YRT_ARCHIVE_PATH="/home/server/rutracker-20260425.xml.xz"
YRT_HOST="0.0.0.0"
YRT_PORT=3000
