# Настройки для отображения в traefik и homepage
SUB_DOMAIN="rutracker"
DOMAINNAME_1="gm2d.ru"
DOMAINNAME_2="lan"
# Настройки meilibridge
MEILIBRIDGE_CONFIG="./meilibridge/config.yaml"
# Настройки meilisearch
MEILI_ENV='development'
MEILI_PORT=7700
# Настройки YRT
FASTAPI_HOST='0.0.0.0'
FASTAPI_PORT=5000
DB_USERNAME='postgres'
DB_PASSWORD='q'
DB_PORT='5432'
DB_NAME='yrt'
DB_TYPE='postgres'
ARCHIVEPATH='/home/server/rutracker-20260425.xml.xz'
LOGLEVEL='INFO'
MEILI_HOST='http://yrt-meilisearch:${MEILI_PORT}'
MEILI_MASTER_KEY = '<very hard master key>'
QBITTORRENT_HOST = 'http://qbittorrent:8080'
QBITTORRENT_USERNAME = 'admin'
QBITTORRENT_PASSWORD = '<very hard password>'
